body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: url('../img/background.jpg');
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}
.profile-img {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #ccc;
}
.profile-info {
    text-align: center;
}